<container>
  <columns class="feature-section">
    <row>
      <h1 class="title">Designed to play</h1>
    </row>
    <!-- Feature row -->
    <row class="feature-row">
      <colums large="2" class="feature-container">
          <columns large="1" class="icon" valign="top">
            <img class="float-center" src="{{ root }}/assets/img/cloud_icon.png" alt="">
          </columns>
          <columns  class="info-text" large="3" class="info" valign="top">
            <h3 class="text-left small-text-center">online gaming</h3>
            <p class="text-left small-text-center">Lay 100+ high-quality console games on the devices you already have with Xbox Game Pass Ultimate.</p>
          </columns>
      </colums>
      <colums large="2" class="feature-container">
          <columns large="1" class="icon" valign="top">
            <img class="float-center" src="{{ root }}/assets/img/group_icon.png" alt="">
          </columns>
          <columns  class="info-text" large="3" class="info" valign="top">
            <h3 class="text-left small-text-center">online party</h3>
            <p class="text-left small-text-center">XBOX Series X Makes the party fun! Enjoy the new online party with your family and friends.</p>
          </columns>
      </colums>
    </row>
    <!-- End of feature row -->

    <!-- Feature row -->
    <row class="feature-row">
      <colums large="2" class="feature-container">
          <columns large="1" class="icon" valign="top">
            <img class="float-center" src="{{ root }}/assets/img/gear_icon.png" alt="">
          </columns>
          <columns  class="info-text" large="3" class="info" valign="top">
            <h3 class="text-left small-text-center">Multi Apps</h3>
            <p class="text-left small-text-center">The multi apps features allows you to enjoy your favorite apps from other device such as PC and Android OS.</p>
          </columns>
      </colums>
      <colums large="2" class="feature-container">
          <columns large="1" class="icon" valign="top">
            <img class="float-center" src="{{ root }}/assets/img/netflix_icon.png" alt="">
          </columns>
          <columns  class="info-text" large="3" class="info" valign="top">
            <h3 class="text-left small-text-center">Multimedia</h3>
            <p class="text-left small-text-center">The multimedia allows you to enjoy your favorite online content from apps such as Netflix and more.</p>
          </columns>
      </colums>
    </row>
    <!-- End of feature row -->
  </columns>
</container>