<!-- <table class="table container" width="100%" align="center" cellspacing="0" cellpadding="0" border="0" style="background-color: white;">
  <tr>
    <td>
      <a href="#">About</a>
    </td>
    <td>
      <a href="#">Careers</a>
    </td>
    <td>
      <a href="#">Contact</a>
    </td>
  </tr>
</table> -->


<container>
  <row class="menu">
    <columns large="10" small="4" class="logo-col">
      <img class="float-left" src="{{ root }}/assets/img/xbox_logo.png" alt="" />
    </columns>
    <columns large="2" small="8" class="menu-col">
      <row>
        <columns small="4">
          <a href="">Games</a>
        </columns>
        <columns small="4" >
          <a href="">Specs</a>
        </columns>
        <columns small="4">
          <a href="">Gallery</a>
        </columns>
      </row>
    </columns>
  </row>
</container>