<container>
  <row class="power">
    <columns valign="center" class="hero-left">
      <img class="xbox-hero float-center"  src="{{ root }}/assets/img/games_icon.png" alt="" />
    </columns>
    <columns class="hero-right">
      <h1 class="hero-text">Power Your</h1>
      <h2 class="sub-hero-text">Dreams</h2>
      <center>
        <p class="power-info">Games built with the Xbox Series X|S development kit showcase significantly reduced load times and stunning visuals at up to 120FPS.</p>
        <a href="#" ><span class="button text-center">Read More</span></a>
      </center>
    </columns>
  </row>
</container>