
<container>
  
  <!-- <style>.columns {border: 1px solid #333;}</style> -->
  <row class="price-section-title">
    <columns>
      <h1 class="title">XBOX <span class="green">SERIES X</span></h1>
    </columns>
  </row>

  <row class="price-container">
    <columns>
      <columns large="4" class="xbox-col">
        <img class="float-center" src="{{ root }}/assets/img/xbox_front2.png" alt="">
      </columns>

      <columns large="8" class="second">
        <columns large="" class="price-card">
          <h3 class="start-price">
           From $34.99/mo.
          </h3>
          <h3 class="detail">
           XBOX ALL ACCESS
          </h3>
          <span class="breakline"></span>
          <p class="info">
           From $34.99/mo. with no upfront cost and 0% APR for 24 months.
          </p>
   
          <p class="includes">
           Includes:
           <br>• Xbox Series X console
           <br>• 24 months of Xbox Game Pass Ultimate
          </p>
   
          <a class="button-link" href="#">
            select a retailer >
          </a>
       </columns>
       <columns large="" class="price-card">
         <h3 class="start-price" valign="top">
           $499.99
         </h3>
         <h3 class="detail">
           STANDALONE
         </h3>
         <span class="breakline"></span>
         <p class="info">
           Pay the full amount when buying from your preferred Xbox retailer.
         </p>
  
         <p class="includes">
          Includes:
          <br>• Xbox Series X console
          <br>• 24 months of Xbox Game Pass Ultimate
         </p>
         <a class="button-link" href="#">
           select a retailer >
         </a>
       </columns>
      </columns>
      
    </columns>
  </row>
</container>





<!-- 
<row class="price-container">
  <columns>
    <columns large="4" class="xbox-col">
      <img class="float-center" src="{{ root }}/assets/img/xbox_front2.png" alt="">
    </columns>
    <columns large="4" class="price-card">
       <h3 class="start-price">
        From $34.99/mo.
       </h3>
       <h3 class="detail">
        XBOX ALL ACCESS
       </h3>
       <span class="breakline"></span>
       <p class="info">
        From $34.99/mo. with no upfront cost and 0% APR for 24 months.
       </p>

       <p class="includes">
        Includes:
        <br>• Xbox Series X console
        <br>• 24 months of Xbox Game Pass Ultimate
       </p>

       <a class="button-link" href="#">
         select a retailer >
       </a>
    </columns>
    <columns large="4" class="price-card">
      <h3 class="start-price" valign="top">
        $499.99
      </h3>
      <h3 class="detail">
        STANDALONE
      </h3>
      <span class="breakline"></span>
      <p class="info">
        Pay the full amount when buying from your preferred Xbox retailer.
      </p>

      <p class="includes">
       Includes:
       <br>• Xbox Series X console
       <br>• 24 months of Xbox Game Pass Ultimate
      </p>
      <a class="button-link" href="#">
        select a retailer >
      </a>
   </columns>
  </columns>
</row>
</container> -->
