<container>
  <columns class="footer">
    <columns class="left-col float-center">
      <row class="title">
        <h3 class="text-left">
          Microsoft
        </h3>
      </row>
      <row class="contact">
        <columns class="show-for-large" large="1" large="11" valign="center">
          <img class="icon" class="float-center" src="{{ root }}/assets/img/location_icon.png" alt="">
        </columns>
        <columns large="11" valign="center">
          <p>212 5th Ave, New York, NY 10010</p>
        </columns>
      </row>
      <row class="contact">
        <columns class="show-for-large" large="1" large="11" valign="center">
          <img class="icon" class="text-left" src="{{ root }}/assets/img/telephone_icon.png" alt="">
          
        </columns>
        <columns large="11" valign="center">
          <p>(800) 642-7676</p>
        </columns>
      </row>
      <row class="contact">
        <columns class="show-for-large" large="1" large="11" valign="center">
          <img class="icon" class="text-left" src="{{ root }}/assets/img/email_icon.png" alt="">
          
        </columns>
        <columns large="11" valign="center">
          <p>Microsoft@Support.com</p>
        </columns>
      </row>
    </columns>

    <!--  -->
    <columns class="right-col float-center">
      <row class="title about-us">
        <h3 class="text-left">
          About Us
        </h3>
      </row>
      <row class="description">
        <p>
          Microsoft Corporation is an American multinational technology corporation which produces computer software, consumer electronics, personal computers, and related services
        </p>
      </row>
      <row class="social-icons">
        <columns large="3" small="3">
          <a href="#">
            <img src="{{ root }}/assets/img/facebook_icon.png" alt="">
          </a>
        </columns>
        <columns large="3" small="3">
          <a href="#">
            <img src="{{ root }}/assets/img/twitter_icon.png" alt="">
          </a>
        </columns>
        <columns large="3" small="3">
          <a href="#">
            <img src="{{ root }}/assets/img/pinterest_icon.png" alt="">
          </a>
        </columns>
        <columns large="3" small="3">
          <a href="#">
            <img src="{{ root }}/assets/img/telegram_icon.png" alt="">
          </a>  
        </columns>
      </row>

  </columns>
</container>